.experience {
    background-color: lightpink;
}

.certificates {
    background-color: lightpink;
}

.accomplishments {
    background-color: lightblue;
}

.skills {
    background-color: lemonchiffon;
}